.contacts {
  padding: 140px 0 130px;
  background-color: rgba($color-light, .2);
}

.contacts-inner {
  @include inner;
}

.contacts-title {
  @include section-title;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.tabs-item {
  margin: 0 30px;
  list-style: none;
}

.tabs-link {
  font-size: 36px;
  line-height: 49px;
  text-decoration: none;
  color: $color-dark;

  &.active {
    color: $color-orange;
  }
}

.contacts-item {
  display: none;

  &.active {
    display: block;
  }
}
