.promo {
  padding: 140px 0;
  background-color: rgba($color-light, .2);

  @media (max-width: $tablet-max) {
    padding: 90px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 60px 0;
  }
}

.promo-inner {
  @include inner;
}

.promo-wrap {
  display: flex;
  margin-left: -$gap-half;
  margin-right: -$gap-half;

  @media (max-width: $mobile-max) {
    display: block;
    text-align: center;
  }
}

.promo-desc {
  flex-basis: 50%;
  padding: 0 $gap-half;
  color: $color-orange;
}

.promo-title {
  margin-bottom: 20px;
  font-family: $font-ral;
  font-weight: 300;
  font-size: 116px;
  line-height: 136px;

  @media (max-width: $tablet-max) {
    font-size: 64px;
    line-height: 75px;
  }
}

.promo-text {
  margin-bottom: 70px;
  font-size: 32px;
  line-height: 44px;

  @media (max-width: $tablet-max) {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 33px;
  }
}

.promo-visual {
  flex-basis: 50%;
  padding: 0 $gap-half;
}

.promo-figure {
  position: relative;
}

.promo-img-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: $color-light;
  background-color: rgba($color-dark, .5);
}
