.services {
  padding: 100px 0;
  background-color: $color-light;
}

.services-inner {
  @include inner;
}

.services-title {
  @include section-title;
}

.services-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.services-item {
  flex-basis: calc(50% - $gap-half);
  margin-top: 50px;
}

.services-caption {
  margin-bottom: 30px;
  font-family: $font-ral;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: $color-dark;
}

.services-text {
  font-weight: 300;
  font-size: 28px;
  line-height: 38px;
  color: $color-dark;
}
