*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 98px;
  font-family: $font-open;

  @media (max-width: $mobile-max) {
    padding-top: 53px;
  }
}

img {
  display: block;
  max-width: 100%;
}
